# Gradle
.gradle/
build/

# Local config
local.properties

# Output
*.aab
*.apk
output-metadata.json

# Android Studio / IntelliJ
*.iml
.idea/

# NDK / C++
captures/
.externalNativeBuild/
.cxx/

# Keys / services
*.jks
*.keystore
google-services.json

# Logs & profiling
*.log
*.hprof

# OS
.DS_Store
Thumbs.db

