
# Android Studio / IntelliJ
# Gradle
# Keys / services
# Local config
# Logs & profiling
# NDK / C++
# OS
# Output
# Sesiones PBL (Learning/Aprendizaje)
docs/
*.aab
*.apk
build/
captures/
.cxx/
.DS_Store
.externalNativeBuild/
google-services.json
.gradle/
*.hprof
.idea/
*.iml
*.jks
*.keystore
keystore.properties
local.properties
*.log
markdown/
output-metadata.json
Thumbs.db
